<div>
    <table>
        <thead>
            <tr>
                <th>N° CUENTA</th>
                <th>TIPO</th>
                <th>SALDO</th>
                <th>CLIENTE</th>
                <th>IDENTIFICACIÓN</th>
                <th>TELEFONO</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of cuentas">
                <td>{{cuenta.numCuenta}}</td>
                <td>{{cuenta.tipoCuenta}}</td>
                <td>{{cuenta.saldoInicial}}</td>
                <td>{{cuenta.cliente.persona.nombre}}</td>
                <td>{{cuenta.cliente.persona.identificacion}}</td>
                <td>{{cuenta.cliente.persona.telefono}}</td>
                <td>{{cuenta.estado == 1 ? 'activo' : 'inactivo'}}</td>
                <td>
                    <button class="btnEditar" (click)="Editar(cuenta)" style="width:50px">EDIT</button>
                    <button class="btnEliminar" (click)="Eliminar(cuenta)" style="width:50px">DEL</button>
                    <button class="btnCrearMov" (click)="crearMovimiento(cuenta)">CREAR MOVIMIENTO</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div *ngIf="auxEditar">
    <form action="">
        <ul>
            <li>
                <label for="">Número De Cuenta</label>
                <b><label>{{cuenta.numCuenta}}</label></b>
            </li>
            <li>
                <label for="">Tipo De Cuenta</label>
                <select id="selGen" [(ngModel)]="cuenta.tipoCuenta" name="tipoCuenta">
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
            </li>
            <li>
                <label for="">Saldo Inicial</label>
                <input type="number" [(ngModel)]="cuenta.saldoInicial" name="saldoInicial">
            </li>
            <li>
                <label>Escoger estado:</label>
                <select id="selEstado" [(ngModel)]="cuenta.estado" name="estado">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </li>
            <li>
                <label for="">Id Del Cliente</label>
                <input type="number" [(ngModel)]="cuenta.cliente.clienteID" name="clienteID">
            </li>
            <button class="btnSubmit" (click)="enviar()">Guardar</button>
            <button class="btnCancelar" (click)="Editar(cuenta)">Cancelar</button>
        </ul>
    </form>
</div>
<br>
<div *ngIf="auxCrearMov">
    <form #forMov="ngForm" (ngSubmit)="enviarMovimiento()">
        <ul>
            <li>
                <label>Número De Cuenta: </label>
                <b><label>{{movimiento.cuenta.numCuenta}}</label></b>
            </li>
            <li>
                <label>Tipo De Movimiento</label>
                <select [(ngModel)]="movimiento.tipoMovimiento" name="tipoMovimiento" required
                    #tipoMovimiento="ngModel">
                    <option value="retiro">Retiro</option>
                    <option value="deposito">Deposito</option>
                </select>
                <div *ngIf="tipoMovimiento.invalid && (tipoMovimiento.dirty || tipoMovimiento.touched)">
                    <div *ngIf="tipoMovimiento.errors?.['required']">
                        Escoja un tipo de movimiento!
                    </div>
                </div>
            </li>
            <li>
                <label>Valor</label>
                <input type="number" [(ngModel)]="movimiento.valor" name="valor" required #valor="ngModel"
                    pattern="^[0-9]+" [min]="1" placeholder="Digite el monto">
                <div *ngIf="valor.invalid && (valor.dirty || valor.touched)">
                    <div *ngIf="valor.errors?.['min']">
                        El valor de movimiento debe ser mayor de cero.
                    </div>
                    <div *ngIf="valor.errors?.['pattern']">
                        Digite un valor para la transaccion!
                    </div>
                </div>
            </li>
            <li>
                <label>Saldo Disponible:</label>
                <b><label>{{movimiento.saldo}}</label></b>
            </li>
            <li>
                <label>Fecha</label>
                <input type="date" [(ngModel)]="movimiento.fecha" name="fecha">
            </li>
            <button class="btnSubmit" [disabled]="!forMov.form.valid">Guardar</button>
        </ul>
    </form>
</div>