<div *ngIf="!auxBuscar">
    <input type="number" placeholder="Ingrese el ID de Cliente" #clienteID>
    <button (click)="buscar(clienteID.valueAsNumber)">BUSCAR</button>
</div>
<div *ngIf="auxBuscar">
    <table class="table table-striped" >
        <thead class="table-dark text-center">
            <tr>
                <th>CEDULA</th>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th>GÉNERO</th>
                <th>DIRECCION</th>
                <th>TELÉFONO</th>
                <th>CONTRASEÑA</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cliente.persona.identificacion}}</td>
                <td>{{cliente.persona.nombre}}</td>
                <td>{{cliente.persona.edad}}</td>
                <td>{{cliente.persona.genero}}</td>
                <td>{{cliente.persona.direccion}}</td>
                <td>{{cliente.persona.telefono}}</td>
                <td>{{cliente.contra}}</td>
                <td>{{cliente.estado == 1 ? 'activo' : 'inactivo'}}</td>
                <td>
                    <button (click)="Editar(cliente)" style="width:50px">EDIT</button>
                    <button (click)="Eliminar(cliente)" style="width:50px">DEL</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="buscar(0)">Buscar Otro Cliente</button>
</div>

<div *ngIf="auxEditar">
    <form action="">
        <div>
            <label for="">Cedula</label>
            <input type="text" [(ngModel)]="cliente.persona.identificacion" name="identificacion">
        </div>
        <div>
            <label for="">Nombre</label>
            <input type="text" [(ngModel)]="cliente.persona.nombre" name="nombre">
        </div>
        <div>
            <label for="">Edad</label>
            <input type="number" [(ngModel)]="cliente.persona.edad" name="edad">
        </div>
        <div>
            <label>Escoger Género:</label>
            <select id="selGen" [(ngModel)]="cliente.persona.genero" name="genero">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
        <div>
            <label for="">Direccion</label>
            <input type="text" [(ngModel)]="cliente.persona.direccion" name="direccion">
        </div>
        <div>
            <label for="">Teléfono</label>
            <input type="text" [(ngModel)]="cliente.persona.telefono"
                name="telefono">
        </div>
        <div>
            <label for="">Contra</label>
            <input type="text" [(ngModel)]="cliente.contra" name="contra">
        </div>
        <div>
            <label>Escoger estado:</label>
            <select id="selEstado" [(ngModel)]="cliente.estado" name="estado">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </div>
        <button (click)="enviar()">Guardar</button>
    </form>
</div>
