<div>
    <form action="">
        <ul>
            <li>
                <label>Cedula</label>
                <input type="text" [(ngModel)]="cliente.persona.identificacion" name="identificacion">
            </li>
            <li>
                <label>Nombre</label>
                <input type="text" [(ngModel)]="cliente.persona.nombre" name="nombre">
            </li>
            <li>
                <label>Edad</label>
                <input type="number" [(ngModel)]="cliente.persona.edad" name="edad">
            </li>
            <li>
                <label>Escoger Género:</label>
                <select id="selGen" [(ngModel)]="cliente.persona.genero" name="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </li>
            <li>
                <label>Direccion</label>
                <input type="text" [(ngModel)]="cliente.persona.direccion" name="direccion">
            </li>
            <li>
                <label>Teléfono</label>
                <input type="text" [(ngModel)]="cliente.persona.telefono" name="telefono">
            </li>
            <li>
                <label>Contra</label>
                <input type="text" [(ngModel)]="cliente.contra" name="contra">
            </li>
            <li>
                <label>Escoger estado:</label>
                <select id="selEstado" [(ngModel)]="cliente.estado" name="estado">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </li>
            <button class="btnSubmit" (click)="enviar()">Guardar</button>
        </ul>
    </form>
</div>