<div>
    <form action="">
        <div>
            <label>Cedula</label>
            <input type="text" [(ngModel)]="cliente.persona.identificacion" name="identificacion">
        </div>
        <div>
            <label>Nombre</label>
            <input type="text" [(ngModel)]="cliente.persona.nombre" name="nombre">
        </div>
        <div>
            <label>Edad</label>
            <input type="number" [(ngModel)]="cliente.persona.edad" name="edad">
        </div>
        <div>
            <label>Escoger Género:</label>
            <select id="selGen" [(ngModel)]="cliente.persona.genero" name="genero">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
        <div>
            <label>Direccion</label>
            <input type="text" [(ngModel)]="cliente.persona.direccion" name="direccion">
        </div>
        <div>
            <label>Teléfono</label>
            <input type="text" [(ngModel)]="cliente.persona.telefono" name="telefono">
        </div>
        <div>
            <label>Contra</label>
            <input type="text" [(ngModel)]="cliente.contra" name="contra">
        </div>
        <div>
            <label>Escoger estado:</label>
            <select id="selEstado" [(ngModel)]="cliente.estado" name="estado">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </div>
        <button class="btnSubmit" (click)="enviar()">Guardar</button>
    </form>
</div>